.navbar-toggler {
  color: rgb(2, 28, 31);
}
.navbar {
  --bs-navbar-toggler-icon-bg: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%2833, 234, 41, 1%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}
.btn-primary {
  --bs-btn-color: #fff;
  --bs-btn-bg: rgb(7 133 253);
  --bs-btn-border-color: #000000;
  --bs-btn-hover-color: rgb(243, 243, 11);
  --bs-btn-hover-bg: #565605;
}
